body, td {
    font-size: 11px;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

input {
    font-size: 11px;
    font-family: sans-serif;
}

table {
    text-align: center;
}

.disabled {
    display: none;
}
